@import url(http://fonts.googleapis.com/css?family=Open+Sans); /* Google Fonts Link (www.google.com/fonts) */

body {
    margin: 60px auto;
    width: 70%;

nav {
	position: relative;
	top: 0px;
	text-align: right;
	height: 40px;
	word-spacing: 10px;
	margin-top: 10px;
	margin-right: 20px;
	color: #7f8c8d;
	font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color: #999;
}
	
a:hover {
    text-decoration: underline;
}
	
h1 {
	text-align: left;
	margin-left: 20px;
	margin-top: 10px;
	font-family: 'Arvo', serif;
	font-size: x-large;
	color: #7f8c8d;
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
